body::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track:horizontal {
  display: none !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  max-width: 14px;
  max-height: 14px;
  display: static !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 1) !important;
  background: linear-gradient(to bottom, #ff567f, #fbeb91, #2ec2ff, #8375ff) !important;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 1) !important;
  background: linear-gradient(to right, #ff567f, #fbeb91, #2ec2ff, #8375ff) !important;
}

/* 自定义滚动条 */
.wsx_scroll {
  margin: 0;
  padding: 0;
  display: none;
  position: fixed;
  user-select: none;
  z-index: 999999999;
  transition: opacity 200ms linear;
}

.wsx_scroll_bar {
  margin: 0;
  padding: 0;
  user-select: none;
  position: relative;
  pointer-events: none;
}

.wsx_fade {
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  user-select: none;
  z-index: 9999999999;
  pointer-events: none;
}

.wsx_vertical_scroll {
  top: 0;
  right: 0;
  width: 30px;
}

.wsx_vertical_scroll_bar {
  left: 19px;
  width: 7px;
  height: 100%;
  opacity: 0.6;
  border-radius: 5px;
  background: linear-gradient(to bottom, #ff567f, #fbeb91, #2ec2ff, #8375ff) !important;
}

.wsx_vertical_fade {
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
}

.wsx_horizontal_scroll {
  left: 0;
  bottom: 0;
  height: 30px;
}

.wsx_horizontal_scroll_bar {
  top: 20px;
  width: 100%;
  height: 7px;
  opacity: 0.6;
  border-radius: 5px;
  background: linear-gradient(to right, #ff567f, #fbeb91, #2ec2ff, #8375ff) !important;
}

.wsx_horizontal_fade {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
}
