body::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track:horizontal {
  display: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  max-width: 14px;
  max-height: 14px;
  display: static !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 1) !important;
  background: linear-gradient(to bottom, #ff567f, #fbeb91, #2ec2ff, #8375ff) !important;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 1) !important;
  background: linear-gradient(to right, #ff567f, #fbeb91, #2ec2ff, #8375ff) !important;
}

.vertical-scroll {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 30px;
  display: none;
  position: fixed;
  user-select: none;
  z-index: 999999999999;
  transition: opacity 200ms linear;
}

.vertical-scroll-bar {
  margin: 0;
  padding: 0;
  left: 19px;
  width: 8px;
  height: 100%;
  user-select: none;
  position: relative;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(to bottom, #ff567f, #fbeb91, #2ec2ff, #8375ff) !important;
}

.vertical-fade {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 100%;
  display: block;
  position: fixed;
  user-select: none;
  pointer-events: none;
  z-index: 9999999999999;
}

.horizontal-scroll {
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  height: 30px;
  display: none;
  position: fixed;
  user-select: none;
  z-index: 999999999999;
  transition: opacity 200ms linear;
}

.horizontal-scroll-bar {
  top: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 8px;
  user-select: none;
  position: relative;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(to right, #ff567f, #fbeb91, #2ec2ff, #8375ff) !important;
}

.horizontal-fade {
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  display: block;
  position: fixed;
  user-select: none;
  pointer-events: none;
  z-index: 9999999999999;
}
